html, body, p {
    margin: 0;
    padding: 0;
}
body {
    background-color:whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.menu {
    color: black;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin: 15px 0;
}
.menu .logo {
    font-size: 40px;
    font-weight: bold;
    color: firebrick;
}
.menu .menuler ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-right: 500px;
}
.menu .menuler ul li a {
    text-decoration: none;
    color: black;
    border: 1px solid #87cefa;
    padding: 10px 20px;
    border-radius: 30px;
    background-color:#87cefa;
}
main .back {
    background-color: #87cefa;
    width: 450px;
    height: 600px;
    position: fixed;
    top: 0;
    right: 0;
    border-bottom-left-radius: 15%;
    border-top-left-radius: 10%;
    border-bottom-right-radius: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;

}
main .back img {
    height: 480px;
    width: 390px;
    border-radius: 10%;
    object-fit: cover;
    border-radius: 1px solid gray;
}
main .main {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    margin: 20px 40px;
    
}
main .main i {
    font-size: 75px;
    color: #87cefa;
}
main .main h1 {
    color: black;
    font-size: 50px;
    font-weight: bold;
}
main .main p {
    font-size: 25px;
    color: rgb(68, 67, 67);
}
main .main p .one {
    color: firebrick;
}
main .main p .two {
    color: #87cefa;
}
main .main button {
    background-color: firebrick;
    color: antiquewhite;
    border-radius: 40px;
    border: 1px solid firebrick;
    margin: 20px;
    padding: 20px;
    width: 200px;
}
main .banner {
    margin: 150px 10px;
    padding: 15px 25px;
    border: 2px solid aliceblue;
    width:1000px;
    height: 100px;
    border-radius: 60px;
    background-color: white;
    color: darkgray;
    box-shadow: 2px 3px 4px silver;
    display: flex;
    align-items: center;
}
main .banner ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    
}
main .banner ul li a {
    text-decoration: none;
    color: black;
    background-color: rgba(211, 211, 211, 0.401);
    border: 1px solid lightgray;
    border-radius: 40px;
    padding: 5px 15px;
    font-size: 22px;
}

